#contacto{
    text-align: center;
    font-family: 'Audiowide', cursive;
    background-color:wheat;
    opacity: 0.9;
}

footer{
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to top,grey,wheat);
    font-size: 50px;
    font-family: 'Caesar Dressing', cursive; 
    border-radius: 40px;
    align-items: center;
}

footer a{
    color: black;
}

body{
    background-image:url("../img/dioses\ balcon.jpg");
    background-repeat: no-repeat;
    background-size: 100%;

}